@font-face {
	font-family: Roboto;
	font-weight: normal;
	src: url('../font/Roboto-Regular.ttf');
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	src: url('../font/Roboto-Italic.ttf');
}

@font-face {
	font-family: Roboto;
	font-weight: bold;
	src: url('../font/Roboto-Bold.ttf');
}

@font-face {
	font-family: Roboto;
	font-weight: bold;
	font-style: italic;
	src: url('../font/Roboto-BoldItalic.ttf');
}

* {
	font-family: Roboto;
}